/*-
Farver
	Primære
		Blå1 = #268dbd
		Blå2 = #226390
		Hvid = #f1f1f2
		Grøn = #6ebe56
		Sort = #303133
	Sekundær
		Rød = #db3d2e
		Orange = #fb8c3e
		Turkis #00a39b
-*/

* {
	box-sizing: border-box;
}

html {
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin: 0 auto;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

/*-------------------------
 Layout
 ------------------------*/

header {
	width: 100%;
	background: #268dbd;
	padding: 40px 0;
	margin: 15px auto;
}

header div {
	width: 960px;
	margin: 30px auto;
	background: #268dbd;
	text-align: center;
	color: #f1f1f2;
	max-width: 100%;
}

main {
	width: 960px;
	max-width: 100%;
	margin: 0px auto;
	background: #bbb; /* midlertidig */
	display: flex;
	flex-flow: row wrap;
}

main div {
	flex-grow: 3;
}

section {
	width: 100%;
	background: #eee; /* midlertidig */
	margin-bottom: 50px;
	padding: 15px;
}

section div {
	width: 100%;
	background: #ddd; /* midlertidig */
}

/*-------------------------
 Sidebar
 ------------------------*/

aside {
	width: 250px;
	max-width: 100%;
	background: #ccc; /* midlertidig */
	height: 100%;
	padding-left: 15px;
}

/*-------------------------
 Nav
 ------------------------*/

nav {
	background: #ccc;
	width: 100%;
}

nav ul {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
}

/*-------------------------
 Flex layouts
 ------------------------*/

.flexcontainer {
	width: 100%;
	background: tomato;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	align-content: stretch;
	margin: 0px -15px;
}

.flexcontainer>div {
	margin: 0px 15px;
	flex-grow: 1;
	flex-basis: 25%;
}

/*-------------------------
 Article / feed
 ------------------------*/

.articleimg {
	min-height: 200px;
	width: 100%;
}

/*-------------------------
 Type
 ------------------------*/

h1, h2, h3, h4 ,h5, h6 {
	font-weight: 700;
}

h1 {
	font-family: 'Cabin Sketch', cursive;
	font-size: 54px;
}

/*-------------------------
 Style Guide page styles
 ------------------------*/

body#styleguide {
	font-family: 'Lato', sans-serif;
 	font-weight: 400;
}

#general, #elements, #layouts {
}
