/*-
Farver
	Primære
		Blå1 = #268dbd
		Blå2 = #226390
		Hvid = #f1f1f2
		Grøn = #6ebe56
		Sort = #303133
	Sekundær
		Rød = #db3d2e
		Orange = #fb8c3e
		Turkis #00a39b
-*/

* {
	box-sizing: border-box;
}

html {
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin: 0 auto;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #303133;
}

.accBox, .articleimg {
	border-radius: 4px;
}

button.accButton, button.accButtonOpen {
	width: 100px;
	padding: 5px;
	background: #268dbd;
	border: 1px solid #268dbd;
	border-radius: 4px;
	color: #f1f1f2;
}

button.accButtonOpen {
	background: #db3d2e;
	border: 1px solid #db3d2e;
}

button:hover {
	cursor: pointer;
}

button.accButton:focus, button.accButtonOpen:focus {
	outline: none;
}
.accBox {
	padding: 10px 10px 20px;
	margin: 10px 0px 20px;
	background: #eee;
}

.colorWhite {
	color: #f1f1f2;
}

.colorBlue1 {
	color: ##268dbd;
}

.colorBlue2 {
	color: #226390;
}

/*-------------------------
 Layout
 ------------------------*/

header {
	width: 100%;
	background: #268dbd;
	padding: 40px 0;
	margin: 15px auto;
}

header div {
	width: 960px;
	margin: 30px auto;
	background: #268dbd;
	text-align: center;
	color: #f1f1f2;
	max-width: 100%;
}

main {
	width: 960px;
	max-width: 100%;
	margin: 0px auto;
	/*background: #268dbd;*/
	display: flex;
	flex-flow: row wrap;
}

main div {
	flex-grow: 3;
}

section {
	width: 100%;
	/*background: #eee;  midlertidig */
	margin-bottom: 50px;
	padding: 15px;
}


section div {
	width: 100%;
	/*background: #ddd;  midlertidig */
}

/*-------------------------
 Sidebar
 ------------------------*/

aside {
	width: 250px;
	max-width: 100%;
	background: #268dbd;
	padding-left: 15px;
	color: #f1f1f2;
}

/*-------------------------
 Nav
 ------------------------*/

nav {
	background: #226390;
	width: 100%;
}

nav ul {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
}

/*-------------------------
 Flex layouts
 ------------------------*/

.flexcontainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	align-content: stretch;
	margin: 0px -15px;
}

.flexcontainer>div {
	margin: 0px 15px;
	flex-grow: 1;
	flex-basis: 25%;
}

/*-------------------------
 Article / feed
 ------------------------*/

.articleimg {
	min-height: 150px;
	width: 100%;
}

/*-------------------------
 Type
 ------------------------*/

h1, h2, h3, h4 ,h5, h6 {
	font-weight: 700;
}

h1 {
	font-family: 'Cabin Sketch', cursive;
	font-size: 54px;
}

/*-------------------------
 Style Guide page styles
 ------------------------*/

#styleguide {
	font-family: 'Lato', sans-serif;
 	font-weight: 400;
}

#styleguide aside>div {
	position: fixed;
}

#styleguide ul {
	margin-bottom: 20px;
}

#styleguide ul li a {
	color: #f1f1f2;
	-webkit-transition: color 0.1s, padding 0.1s;
}

#styleguide ul li a:hover {
	padding-left: 5px;
	color: #ffffff;
}

#styleguide ul li:first-child a {
	font-weight: 700;
	font-size: 24px;
}
